# How does the worst symptom evolve over seasons?

In [1]:
# add src to path so the noteboook can import utilities.py
import sys
sys.path.append('C:\\Users\\joa24jm\\Documents\\tinnitus-country\\src\\d00_utils')

In [2]:
# project location
p_loc = 'C:/Users/joa24jm/Documents/tinnitus-country/'

In [3]:
# imports
import pandas as pd
import utilities as u

In [4]:
# read in df
df = pd.read_csv(p_loc + '/data/02_intermediate/merged_users.csv', index_col = 'Unnamed: 0',
                parse_dates = ['4', '9', 'fup_answer_from', 'bl_answer_from'],na_values = ['??.??.????', '27.02.2522']
                )

In [13]:
# get all users with more than 365 daily questionnaires
users_365 = df.user_id.value_counts()[df.user_id.value_counts() > 365].index.tolist()

In [16]:
# get season column
df['season'] = df.fup_answer_from.apply(u.get_season)

C:\Users\joa24jm\Documents\tinnitus-country\src\d00_utils\utilities.py:175: FutureWarning: Comparison of NaT with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.
  if start <= d <= end)

In [22]:
# shrink dataframe to users_365
sub_df = df[df.user_id.isin(users_365)]

In [38]:
# Occurence of worst symptom for users_365
df.question8.value_counts(normalize = True)

0.0    0.679848
1.0    0.320152
Name: question8, dtype: float64

In [39]:
# Occurence of worst symptom by season for users_365
pd.crosstab(sub_df.season, sub_df.question8, normalize = 'index').style.format('{:,.2%}')

For users that filled out the daily questionnaire more than 365 times, the likelihood of the perceiption of the worst symptom dreases by 2 percentpoints in winter.

In [42]:
# tinnitus perception for users_365 in general
sub_df.question1.value_counts(normalize = True)

1.0    0.828594
0.0    0.171406
Name: question1, dtype: float64

In [40]:
# Occurence of tinnitus perception by season for users_365
pd.crosstab(sub_df.season, sub_df.question1, normalize = 'index').style.format('{:,.2%}')

## How does the tinnitus occurence vary over the months for users_365?

In [59]:
# get the month of each answer
idx = sub_df.fup_answer_from.dt.month.index
sub_df.loc[idx, 'month'] = sub_df.fup_answer_from.dt.month.values.tolist()

In [64]:
pd.crosstab(sub_df.month, sub_df.question1, normalize = 'index').style.format('{:,.2%}')

## How does the tinnitus occruence vary between the months for all users?

In [68]:
df['month'] = df.fup_answer_from.dt.month

In [69]:
pd.crosstab(df.month, df.question1, normalize = 'index').style.format('{:,.2%}')

In [70]:
# overall mean as a baseline comparison
df.question1.value_counts(normalize = True)

1.0    0.785847
0.0    0.214153
Name: question1, dtype: float64